.home {
  background: #ecf0f1;
}

.mainContent {
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.card {
  width: 30%;
  margin-bottom: 10px;
}

/* .recipeDetail {
  margin: 0 auto;
  margin: 5%;
} */
/* 
.detail{
  margin-top: 2.2em;
} */

/* .recipeTitle {
  font-size: 1.5em;
  text-align: center;
} */
/* 
.imgNav{
  display: block;
} */

/* .next {
  float: right;
} */
.grid {
  width: auto;
  min-width: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0 0;
}

.imgSize {
  width: 30%;
}
